<% if (title) { %>
    <h1><%= title %></h1>
    <%} else {
        res.redirect('/')
    } %>
    <div id="crash">
    <p id="error-message"><%- message %></p>
    <img src="/images/vehicles/crash.png" alt="accident">
    </div>